<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>ASN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="https://kit.fontawesome.com/69197fd746.js" crossorigin="anonymous"></script>
  </head>
  <body onload="ativar()">
    <header >
        <img src="img/asn-logo.png">
        <h1>ASN SOFTWARE</h1>
    </header>
    <div id="visitor-conteiner">
        <div id="visitedall" style="color: #F59D0F;">
            <h1>Todas as visitas</h1>
            <h2>21</h2>
        </div>
        <div id="visitednow" style="color: rgb(66, 139, 99);">
            <h1>Visitas Agora</h1>
            <h2>1</h2>
        </div>
        <div id="visitedlastmonth" style="color: #0187C7;">
            <h1>Ultimos 30 dias</h1>
            <h2>20</h2>
        </div>
    </div>
    <div id="contact-clients">
        <div id="contact-controler">
            <input type="radio" class="inputs" name="controler" id="todos" value="1">
            <label for="todos"><h3>Todos</h3></label>
            <input type="radio" class="inputs" name="controler" id="abertos" value="2"> 
            <label for="abertos"><h3>Em Aberto</h3></label>
            <input type="radio"  class="inputs"name="controler" id="fechado" value="3"> 
            <label for="fechado"><h3>Atendidos</h3></label>
        </div>
     <div id="clients">
        <% posts.forEach(element => {%>
            <div class="client-wrapp">
                <ul>
                    <h2>Cliente <%= element.id  %></h2>
                    <li id="nome"><i class="fa-solid fa-user"></i><%= element.nome  %></li>
                    <li id="email"><i class="fa-solid fa-envelope"></i><%= element.email  %></li>
                    <li id="telefone"><i class="fa-solid fa-phone"></i><%= element.telefone  %></li>
                    <li id="data/hora"><i class="fa-solid fa-calendar-day"></i><%= element.telefone  %></li>
                    <li id="mensagem"><i class="fa-solid fa-message"></i>
                        <%= element.mensagem  %>
                    </li>
                <form action="">
                    <input type="submit" value="Atendido" >
                </form>
                </ul>

            </div>
        <%});
         %>
        </div>
    </div>

        <script src="js/outro.js"></script>
  </body>
</html>




